@import 'tailwindcss';

@theme{
  /* Colores principales LUPUS */
  --color-lupus-primary: #005B7F;
  --color-lupus-primary-light: #4DA6D1;
  --color-lupus-light: #F3F3F3;
  --color-lupus-light-gray: #D9D9D9;
}